@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-Poppins scroll-smooth;
}

body {
  @apply box-border bg-[#331b68]  text-gray-100;
  /* background-image: url("./assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */
}

.btn-primary {
  @apply bg-purple-600 hover:bg-purple-800 text-white font-semibold md:mx-0 mx-auto rounded-2xl py-4 px-4  flex items-center gap-2;
}

.card {
  @apply flex justify-center flex-col h-auto;
}

input,
textarea {
  resize: none;
  @apply bg-gray-700 outline-none rounded-lg p-3;
}
::placeholder {
  @apply text-lg;
}

ion-icon {
  font-size: 2.5rem;
  color: #1eeffd;
}
.icons {
  color: #1eeffd;
}
