---
const {title} = Astro.props
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/Logo.svg" />
		<meta name="viewport" content="width=device-width, initial-scale-1" />
		<meta name="description" content="My Astro Page" />
        <title>{title}</title>
	</head>
	<body class="bg-[url('/background.jpg')] bg-cover bg-no-repeat bg-center bg-fixed"></body>
		<slot/>	
	</body>
</html>
